.navbar {
    display: flex;
    border: 1px solid red;
}

.logo {
    width: 20;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid red;
}

.ul {
    width: 100;
    display:    flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    list-style: none;
}
ul li {
    margin: 0 1rem;
}